= form_for [:adminka, @product], html: { class: "form-horizontal" } do |f|
  .form-group
    %label.col-sm-2.control-label{ for: 'name' } Title
    .col-sm-5
      = f.text_field :title, class: 'form-control'
  .form-group
    %label.col-sm-2.control-label{ for: 'name' } Category
    .col-sm-5
      = f.collection_select :category, (@product.category ? [@product.category] : []),
                            :id, :name, {}, { class: 'form-control',
                                               id: 'product_category',
                                               data: { entity_id: @product.id,
                                               chosen: [@product.category.try(:name)] } }
  .form-group
    %label.col-sm-2.control-label{ for: 'brand' } Brand
    .col-sm-5
      = f.collection_select :brand, (@product.brand ? [@product.brand] : []),
                            :id, :title, {}, { class: 'form-control',
                                               id: 'product_brand',
                                               data: { entity_id: @product.id,
                                               chosen: [@product.brand.try(:title)] } }
  .form-group
    %label.col-sm-2.control-label{ for: 'text' } Text
    .col-sm-5
      = f.text_area :text, rows: 3, class: 'form-control'
  - if @product.persisted?
    .form-group
      %label.col-sm-2.control-label{ for: 'photos' }= link_to 'Edit photos', photos_adminka_product_path(id: @product.id)
      .col-md-6
        - @product.images.each do |image|
          = link_to image_tag(image.photo.url(:thumb)), image.photo.url
    .form-group
      %label.col-sm-2.control-label{ for: 'photos' } Photos
      .col-sm-5
        = f.file_field :photos, multiple: true, accept: 'image/jpeg, image/jpg, image/gif, image/png', class: 'form-control'
  %hr
  - @product.product_properties.each do |prop|
    = f.fields_for 'product_properties_attributes[]', prop do |pp|
      .form-group
        %label.col-sm-2.control-label{ for: 'value' }= prop.property.title
        .col-sm-3
          = pp.collection_select :value_id, prop.values,
                            :id, :value, {}, { class: 'form-control',
                                               id: 'product_value',
                                               data: { entity_id: @product.id,
                                               chosen: [prop.value] } }
        .col-sm-2
          = pp.text_field :man_value, class: 'form-control'
          = pp.hidden_field :property_id, value: prop.property.id
          = pp.hidden_field :id
  .form-group
    .col-sm-5.col-md-offset-2
      = f.submit (@product.new_record? ? 'Create' : 'Save'), class: 'btn btn-default'
