%table.table
  %thead
    %tr
      %th= t('.id')
      %th= t('.title')
      %th= t('.category')
      %th= t('.brand')
      %th= t('.text')
      %th= t('.price')
  %tbody
    = render @products
    = paginate @products, theme: 'adminka'

= paginate @products, theme: 'adminka'
