%table.table.properties
  %thead
    %tr
      %th.title= t('.title')
      %th= t('.values')
  %tbody
    = render partial: 'adminka/values/value', collection: @properties, as: :property
    = paginate @properties, theme: 'adminka'

= paginate @properties, theme: 'adminka'
