%table.table
  %thead
    %tr
      %th= t('.id')
      %th= t('.name')
      %th= t('.properties')
  %tbody
    = render @categories
= render 'form', category: Category.new(category_id: @category.id)
