<!DOCTYPE html>
<html>
<head>
  <title>VapeTrade</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse no-round" role="navigation">
  <div class="logo">Vapor-market.ru</div>
  <div class="header-right">
      <div class="auth">
        <span id="login-form"></span>
      </div>
      <div class="new-ad"><button class="btn btn-vape">+новое объявление</button></div>
  </div>

</div>
<div class="container text-center">
  <div id="vape-filter"></div>
</div>


<div class="container">
    <div class="col-xs-4">
        <%#= react_component('ForLogged', {}, {prerender: true}) %>
    </div>
    <div class="col-xs-4">
        <%#= react_component('MakeMeLogged', {}, {prerender: true}) %>

    </div>

</div>


<div class="container">
    <div class="well well-sm">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products_place" class="row list-group">
        <%#= render @products %>
    </div>
</div>


<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div>
    <%= yield %>
  </div>

</div>

<a href="#" onclick="javascript:FB.login();">asd</a>
<div id="status"></div>


<%= javascript_include_tag 'application' %>

</body>
</html>
