!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'robots', content: 'noindex, nofollow' }
    %title Valera

    = csrf_meta_tag
    = stylesheet_link_tag 'adminka/application'
    = javascript_include_tag 'adminka/application'

  %body.body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            - menu.each do |item|
              %li{ class:"#{(item[:path]=~/#{controller_name}/) ? 'active' : nil}" }
                =link_to item[:name], item[:path]
          %ul.nav.navbar-nav.navbar-right
            %li= link_to t('.to_main_page'), root_path
    .container-fluid
      .row
        .col-md-12
          = link_to controller: controller_name, action: :new do
            %button.btn.btn-primary{ type:"button" } Create
          - if %w(show edit photos update).include? action_name
            = link_to controller: controller_name, action: :edit, id: params[:id] do
              %button.btn.btn-warning{ type:"button" }= 'Edit'# + controller_name[0..-2]
    #layout
      = render 'application/flash_messages'
      .page
        .container-fluid
          = yield

      - if Rails.env.development? && params[:console]
        = console

